services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    networks:
      - social-network
    environment:
      POSTGRES_DB: social_network_db
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h postgres_db -U myuser -d social_network_db || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  social-network-backend:
    build: .
    container_name: social-network-backend
    ports:
      - "8080:8080"
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - ./app-data:/data
    networks:
      - social-network

networks:
  social-network:
    driver: bridge
